@using JomMalaysia.Presentation.Models.Categories
@model JomMalaysia.Presentation.ViewModels.Listings.RegisterListingViewModel
<!--modal-->
@{
    ViewData["Title"] = "Create new Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>
<!--HEADER-->
<div class="form-group col-md-12 no-padding d-none d-md-block">
    <button type="button" class="btn btn-success col-md-2 submitButton" onclick="$('#btnListingSubmit').click">Save</button>
    <button type="button" class="btn btn-danger col-md-2 cancelButton" onclick="window.history.go(-1); return false;">Back</button>
</div>

<!--Mobile Buttons-->
<div class="form-group col-md-12 no-padding d-sm-block d-md-none">
    <div class="btn-group col-sm-12 no-padding" role="group">
        <button type="button" class="btn btn-primary">Action</button>
        <div id="dropdown-action-button" class="dropdown-menu col-sm-12" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="display:none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0; left: 0; will-change: transform;">

            <a class="dropdown-item" onclick="window.history.go(-1); return false;">Back</a>
        </div>
        <div id="action-button" class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        </div>
    </div>
</div>
<!--END OF HEADER-->

<form asp-controller="Listing" asp-action="Create" id="FormCreate" class="form-m-gap-top" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <legend>Basic Info</legend>

    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.ListingName)</div>
        <div class="col-sm-10 col-md-6">
            <input asp-for="ListingName" id="listing-name-autocomplete" class="form-control" />
            <span asp-validation-for="ListingName" class="text-danger"></span>
        </div>
    </div>
    @*logo*@
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.ImageUris.ListingLogo)</div>
        <div class="input-group col-sm-10 col-md-6">
            @Html.HiddenFor(m => m.ImageUris.ListingLogo.Url, new { @class = "form-control listing-logo imageUrl", id = "" })
            <img src= "@Model.ImageUris.ListingLogo.Url" class="img-thumbnail listing-logo" alt="placeholder">
            <input type="text" class="form-control listing-logo imageName" id="logo-photo" disabled />
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btnUpload listing-logo"  onclick="uploadImageWidget('listing_images','listing-logo');">Browse</button>
            </div>
        </div>
    </div>
    @* Cover Photo *@
        <div class="form-group row">
            <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.ImageUris.CoverPhoto)</div>
            <div class="input-group col-sm-10 col-md-6">
                @Html.HiddenFor(m => m.ImageUris.CoverPhoto.Url, new { @class = "form-control listing-cover imageUrl", id = "" })
                <img src= "@Model.ImageUris.CoverPhoto.Url" class="img-thumbnail listing-cover" alt="placeholder">
                <input type="text" class="form-control imageName listing-cover" id="cover-photo" disabled />
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary btnUpload listing-cover" onclick="uploadImageWidget('listing_images','listing-cover');">Browse</button>
                </div>
            </div>
        </div>
    @* Description *@
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.Description)</div>
        <div class="col-sm-10 col-md-6">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    @* Merchant *@
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.MerchantId)</div>
        <div class="col-sm-10 col-md-6">
            <select asp-for="MerchantId" asp-items="Model.MerchantList" class="form-control">
                <option disabled selected>--- SELECT ---</option>
            </select>
            <span asp-validation-for="MerchantId" class="text-danger"></span>
        </div>
    </div>
    @* Address *@
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.FullAddress)</div>
        <div class="col-sm-10 col-md-6">
            @Html.TextBoxFor(m => m.FullAddress, new { @class = "form-control", @readonly = true, id = "txtAddress", data_toggle = "modal", data_target = "#modal-address" })
            @Html.ValidationMessageFor(m => m.FullAddress)
        </div>
    </div>

    <legend>Detailed Info</legend>
    
    @* Type Dropdown *@
    <div class="form-group row" >
            <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.CategoryType)</div>
            <div class="col-sm-10 col-md-6">
                <select id="type-input" asp-for="CategoryType" asp-items="Html.GetEnumSelectList<CategoryType>()" class="form-control">
                    <option disabled selected>--- SELECT ---</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
     @* Category Dropdown *@
    <div class="form-group row" id="category-input">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.CategoryId)</div>
        <div class="col-sm-10 col-md-6">
            <select asp-for="CategoryId" id="category-dropdown" disabled class="form-control">
                <option disabled selected>--- Please select a type first ---</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" id="btnListingSubmit">Register</button>
</form>

<div class="modal" id="modal-address">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Address Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Listing" asp-action="Create" id="formAddress" class="form-m-gap-top" method="post">
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.Add1)</div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Address.Add1, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Address.Add1)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.Add2)</div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Address.Add2, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Address.Add2)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.City)</div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address.City)
                        </div> <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Address.PostalCode, new { @class = "form-control", placeholder = "Postal Code" })
                            @Html.ValidationMessageFor(m => m.Address.PostalCode)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.State)</div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Address.State, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Address.State)
                        </div> <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Address.Country, new { @class = "form-control", placeholder = "Country"})
                            @Html.ValidationMessageFor(m => m.Address.Country)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveAddress">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_CloudinaryPartial");}
<script type="text/javascript">

    //populate category based on type
    $("#type-input").change(function() {
            let filterValue = $("#type-input option:selected").text().toLowerCase();
            let categoryDropdown = $("#category-dropdown");
            categoryDropdown.prop('disabled', true); 
            if(filterValue!=null){
                
              $.ajax({  
                         type: "GET",  
                         url: "/Category/GetCategoryByType",  
                         data: {type:filterValue},  
                         complete: function (data) {
                             let result =data.responseJSON;
                             categoryDropdown.empty();
                             
                             if(result.length === 0){
                                 categoryDropdown.append($('<option>', {
                                    value: -1,
                                    text: '--- This type do not have category yet ---',
                                    selected: true
                                    }));
                             }else {
                                    let $prevGroup, prevGroupName;
                                    $.each(result, function () {
                                        debugger
                                    categoryDropdown.prop("disabled",false);
                                    if (prevGroupName !== this.group.name) {
                                        $prevGroup = $('<optgroup />').prop('label', this.group.name).appendTo('#category-dropdown');
                                    }
                                     $("<option />").val(this.value).text(this.text).appendTo($prevGroup);
                                     prevGroupName = this.group.name;
                                      });
                             }
                         
                         }, 
                     });  
    }
        });


        $(document).ready(function () {

            $("#btnSaveAddress").click(function () {
                debugger;
                let addline1 = $("#Address_Add1").val();
                let addline2 = $("#Address_Add2").val();
                let city = $("#Address_City").val();
                let postalCode = $("#Address_PostalCode").val();
                let state = $("#Address_State").val();
                let country = $("#Address_Country").val();

                $("#txtAddress").val(addline1 + ", " + addline2 + ", " + city + " " + postalCode + ", " + state +  ", " + country);

            });

        });
</script>
   
   

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZseAlp_Rd9CxaJtOQBVKvpkBl8gHiXvk&callback=initMap&libraries=places"
            async defer></script>

}
