@model JomMalaysia.Presentation.ViewModels.Listings.RegisterListingViewModel
<!--modal-->
@{
    ViewData["Title"] = "Create new Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>
<!--HEADER-->
<div class="form-group col-md-12 no-padding d-none d-md-block">
    <button type="button" class="btn btn-success col-md-2" onclick="$('#btnListingSubmit').click">Save</button>
    <button type="button" class="btn btn-danger col-md-2" onclick="window.history.go(-1); return false;">Back</button>
</div>

<!--Mobile Buttons-->
<div class="form-group col-md-12 no-padding d-sm-block d-md-none">
    <div class="btn-group col-sm-12 no-padding" role="group">
        <button type="button" class="btn btn-primary">Action</button>
        <div id="dropdown-action-button" class="dropdown-menu col-sm-12" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="display:none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">

            <a class="dropdown-item" onclick="window.history.go(-1); return false;">Back</a>
        </div>
        <div id="action-button" class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        </div>
    </div>
</div>
<!--END OF HEADER-->

<form asp-controller="Listing" asp-action="Create" id="FormCreate" class="form-m-gap-top" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <legend>Basic Info</legend>

    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.ListingName)</div>
        <div class="col-sm-10 col-md-6">

            <input asp-for="ListingName" id="listing-name-autocomplete" class="form-control" />
            <span asp-validation-for="ListingName" class="text-danger" />

        </div>
    </div>
    @*logo*@
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.ImageUris.ListingLogo)</div>
        <div class="input-group col-sm-10 col-md-6">
            @Html.HiddenFor(m => m.ImageUris.ListingLogo.Url, new { @class = "form-control", id = "imageUrl" })
            @Html.HiddenFor(m => m.ImageUris.ListingLogo.ThumbnailUrl, new { @class = "form-control", id = "thumbnailUrl" })
            <input type="text" class="form-control" id="imageName" disabled />
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" id="btnUpload" onclick="uploadImageWidget.open();">Browse</button>
                @*<input type="file" id="btnUpload_hidden" style="display: none;" accept="image/*"/>*@
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.Description)</div>
        <div class="col-sm-10 col-md-6">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.MerchantId)</div>
        <div class="col-sm-10 col-md-6">
            <select asp-for="MerchantId" asp-items="Model.MerchantList" class="form-control">
                <option disabled selected>--- SELECT ---</option>
            </select>
            <span asp-validation-for="MerchantId" class="text-danger" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.ListingType)</div>
        <div class="col-sm-10 col-md-6">
            <select asp-for="ListingType" id="type-select" asp-items="Model.ListingTypeList" class="form-control">
                <option disabled selected>--- SELECT ---</option>
            </select>
            <span asp-validation-for="ListingType" class="text-danger" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.FullAddress)</div>
        <div class="col-sm-10 col-md-6">
            @Html.TextBoxFor(m => m.FullAddress, new { @class = "form-control", @readonly = true, id = "txtAddress", data_toggle = "modal", data_target = "#modal-address" })
            @Html.ValidationMessageFor(m => m.FullAddress)
            @*<input type="text" class="form-control" id="txtSSMID" placeholder="Enter SSM ID">*@
        </div>
    </div>

    <legend>Detailed Info</legend>

    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.ImageUris.CoverPhoto)</div>
        <div class="input-group col-sm-10 col-md-6">
            @Html.HiddenFor(m => m.ImageUris.CoverPhoto.Url, new { @class = "form-control", id = "imageUrl" })
            @Html.HiddenFor(m => m.ImageUris.CoverPhoto.ThumbnailUrl, new { @class = "form-control", id = "thumbnailUrl" })
            <input type="text" class="form-control" id="imageName" disabled />
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary" id="btnUpload" onclick="uploadImageWidget.open();">Browse</button>
                @*<input type="file" id="btnUpload_hidden" style="display: none;" accept="image/*"/>*@
            </div>
        </div>
    </div>

    <div class="form-group row" id="category-input">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.CategoryId)</div>
        <div class="col-sm-10 col-md-6">
            <select asp-for="CategoryId" asp-items="Model.CategoryList" class="form-control">
                <option disabled selected>--- SELECT ---</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger" />
        </div>
    </div>

    <button type="submit" id="btnListingSubmit">Register</button>
</form>

<div class="modal" id="modal-address">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Address Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Listing" asp-action="Create" id="formAddress" class="form-m-gap-top" method="post">
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.Add1)</div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Address.Add1, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Address.Add1)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.Add2)</div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Address.Add2, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Address.Add2)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.City)</div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address.City)
                        </div> <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Address.PostalCode, new { @class = "form-control", placeholder = "Postal Code" })
                            @Html.ValidationMessageFor(m => m.Address.PostalCode)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.State)</div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Address.State, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Address.State)
                        </div> <div class="col-md-4">
                            @Html.TextBoxFor(m => m.Address.Country, new { @class = "form-control", placeholder = "Country"})
                            @Html.ValidationMessageFor(m => m.Address.Country)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveAddress">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
        $(document).ready(function () {

            $("#category-input").hide();

            $('#type-select').on('change', function () {
                if (this.value == "Local" || this.value == "Event") $("#category-input").show();
                else $("#category-input").hide();
            });

            $("#btnSaveAddress").click(function () {
                debugger;
                var addline1 = $("#Address_Add1").val();
                var addline2 = $("#Address_Add2").val();
                var city = $("#Address_City").val();
                var postalCode = $("#Address_PostalCode").val();
                var state = $("#Address_State").val();
                var country = $("#Address_Country").val();

                $("#txtAddress").val(addline1 + ", " + addline2 + ", " + city + " " + postalCode + ", " + state +  ", " + country);

            });

        });
</script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script>cloudinary.setCloudName("jomn9-com")</script>
    <script type="text/javascript">
        var uploadImageWidget = cloudinary.createUploadWidget(
            {
                ucloudname: 'jomn9-com',
                uploadPreset: 'ox3azzqe',
                apiKey: '731121621859821',
                folder: 'category_thumbnail',
                sources: ["local", "url", "image_search"],
                googleApiKey: 'AIzaSyCZseAlp_Rd9CxaJtOQBVKvpkBl8gHiXvk',
                searchBySites: ["all", "cloudinary.com", "unsplash.com", "freepik.com"],
                searchByRights: true,
                cropping: true,
                croppingAspectRatio: 1,
                resourceType: ["image"],
                clientAllowedFormats: ["png", "jpg", "jpeg"],
                minImageWidth: 100,
                minImageHeight: 100,
                autoMinimize: true,
                showSkipCropButton: false,


            }, (error, result) => {
                if (!error && result && result.event === "success") {

                    console.log("Image uploaded");
                    $("#imageUrl").val(result.info.url);
                    $("#thumbnailUrl").val(result.info.thumbnail_url);
                    $("#imageName").val(result.info.original_filename + "." + result.info.format);
                }
            }
        )

        $("#btnUpload").on("click", function () {
            uploadImageWidget.open();
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZseAlp_Rd9CxaJtOQBVKvpkBl8gHiXvk&callback=initMap&libraries=places"
            async defer></script>

}
