@using JomMalaysia.Framework.Helper
@model IEnumerable<JomMalaysia.Presentation.Models.Listings.Listing>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<form method="post">
<div class="col-md-12 col-sm-12 no-padding" style="overflow-x:auto !important">
    <table class="table table-hover">
        <thead class="table-primary">
        <tr>
            <th scope="col"></th>
            <th scope="col">Listing</th>
            <th scope="col">Merchant</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Tags</th>
            <th scope="col">Full Address</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                </td>
                <td>@item.ListingName</td>
                <td>
                    <a asp-action="Detail"
                       asp-controller="Merchant"
                       asp-route-id="@item.Merchant.MerchantId"
                       target="_blank">@item.Merchant.RegistrationName</a>
                </td>
                <td>
                    <strong class="line-breaks">@($"{item.CategoryType}")</strong> <br/>
                    @($"{item.Category.Category.CapitalizeOrConvertNullToEmptyString()}-" +
                      $"{item.Category.Subcategory.CapitalizeOrConvertNullToEmptyString()}")
                </td>
                <td>@item.PublishStatus.Status</td>
                <td>
                    @{
                        foreach (var tag in item.Tags)
                        {
                            <span class="badge badge-info">@tag</span>
                        }
                    }
                </td>
                <td>@item.Address.ToString()</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-success form-control" onclick="publishListing('@item.ListingId')">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        </button>
                        <a type="button" class="btn btn-info form-control" asp-controller="Listing" asp-action="Edit" asp-route-listingId="@item.ListingId">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <a type="button" class="btn btn-danger form-control" onclick="deleteListing('@item.ListingId','@item.ListingName')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</form>

@section SpecificScripts{


    <script type="text/javascript">
    
        //publish listing
        function publishListing(ListingId) {
        let token = $('input[name="__RequestVerificationToken"]').val();
            swal({
                title: 'Do you want to publish this listing?',
                icon: 'question',
                type: 'input',
                inputPlaceholder: "Duration in months. Default to 12",
                buttons: true,
                dangerMode: true,
            }, function (inputValue) {
                    if (!inputValue) { inputValue = 12;}
                    $.ajax({
                        //TODO add [ValidateAntiForgeryToken]
                        url: "/Listing/Publish",
                        data: {
                            "id": ListingId,
                            "months": inputValue,
                        },
                        headers: {'RequestVerificationToken': token},
                        type: "POST",
                        success: (function ({ item1, item2 }) {
                            if (item1 === 1) {
                                sweetAlert({
                                    title: "Pending Approval",
                                    text: "Listing is sent to approval.",
                                    type: "success"
                                },
                                    function () {
                                        window.location.href = '/listing';
                                    });
                            } else {
                                swal(
                                "Oops",
                                item2,
                                "error"
                            );
                            }

                        }),
                        error: (function (data) {
                            swal("Oops", "An unknown error occured! Please contact technical support.", "error");
                        })
                    });
            })
        }
        
        //delete listing
                function deleteListing(ListingId, ListingName) {
                let token = $('input[name="__RequestVerificationToken"]').val();
                    swal({
                        title: 'Delete listing',
                        type: "warning",
                        text: "Are you sure that you want to delete " + ListingName + "?  Operation is not irreversible",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#ec6c62",
                        dangerMode: true,
                    },  
                    function () {
                            $.ajax({
                                url: "/Listing/ConfirmDelete",
                                data: {
                                    "id": ListingId,
                                },
                                headers: {'RequestVerificationToken': token},
                                type: "POST",
                                success: (function ({ item1, item2 }) {
                                    if (item1 === 1) {
                                        sweetAlert({
                                            title: "Operation Success",
                                            text: "Listing is deleted successfully",
                                            type: "success"
                                        },
                                            function () {
                                                window.location.href = '/listing';
                                            });
                                    } else {
                                        swal(
                                        "Oops",
                                        item2,
                                        "error"
                                    );
                                    }
        
                                }),
                                error: (function (data) {
                                    debugger
                                    swal("Oops", "Error code: "+ data.status +". Please contact technical support.", "error");
                                })
                            })
                    })
                }
    </script>
}