@using JomMalaysia.Framework.Helper
@model IEnumerable<JomMalaysia.Presentation.Models.Listings.Listing>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="col-md-12 col-sm-12 no-padding" style="overflow-x:auto !important">
    <table class="table table-hover">
        <thead class="table-primary">
        <tr>
            <th scope="col"></th>
            <th scope="col">Listing</th>
            <th scope="col">Merchant</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Tags</th>
            <th scope="col">Full Address</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                </td>
                <td>@item.ListingName</td>
                <td>@item.Merchant.RegistrationName</td>
                <td>
                    <strong class="line-breaks">@($"{item.CategoryType}")</strong> <br/>
                    @($"{item.Category.Category.CapitalizeOrConvertNullToEmptyString()}-" +
                      $"{item.Category.Subcategory.CapitalizeOrConvertNullToEmptyString()}")
                </td>
                <td>@item.PublishStatus.Status</td>
                <td>
                    @{
                        foreach (var tag in item.Tags)
                        {
                            <span class="badge badge-info">@tag</span>
                        }
                    }
                </td>
                <td>@item.Address.ToString()</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger form-control" onclick="publishListing('@item.ListingId')">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </button>
                        <button data-toggle="modal" data-target="#ListingDetail" type="button" class="btn btn-info"
                                data-id="@item.ListingId">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="ListingDetail" tabindex="-1" role="dialog" aria-labelledby="ListingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Fetching
                </div>
            </div>

        </div>
    </div>
</div>

@section SpecificScripts{


    <script type="text/javascript">
    //fetch listing detail
            $(function () {
                $('#ListingDetail').on('show.bs.modal', function (e) {
                    var id = e.relatedTarget.dataset.id;
                    var $modal = $(this);
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '/Listing/Detail/' + id,
                        success: function (data) {
                            $modal.find('.modal-body').html(data);
                        },
                        fail: function (error) {
                            $modal.hide();
                            swal("Oops",error,"error");
                        }
                    });
                });
            });
            $(function () {
                $('#ListingDetail').on('hidden.bs.modal', function () {
                   
                    $(this).find('.modal-body').empty();
                });
            });
        //publish listing
        function publishListing(ListingId) {

            swal({
                title: 'Do you want to publish this listing?',
                icon: 'question',
                type: 'input',
                inputPlaceholder: "Duration in months. Default to 12",
                buttons: true,
                dangerMode: true,
            }, function (inputValue) {
                    if (!inputValue) { inputValue = 12;}
                    $.ajax({
                        //TODO add [ValidateAntiForgeryToken]
                        url: "/Listing/Publish",
                        data: {
                            "id": ListingId,
                            "months": inputValue,
                        },
                        type: "POST",
                        success: (function ({ item1, item2 }) {
                            if (item1 == 1) {
                                sweetAlert({
                                    title: "Pending Approval",
                                    text: "Listing is sent to approval.",
                                    type: "success"
                                },
                                    function () {
                                        window.location.href = '/listing';
                                    });
                            } else {
                                swal(
                                "Oops",
                                item2,
                                "error"
                            );
                            }

                        }),
                        error: (function (data) {
                            swal("Oops", "An unknown error occured! Please contact technical support.", "error");
                        })
                    });
            })
        }
    </script>
}