@model IEnumerable<JomMalaysia.Presentation.Models.Listings.Listing>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="col-md-12 col-sm-12 no-padding" style="overflow-x:auto !important" ;">
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col"></th>
                <th scope="col">Listing Name</th>
                <th scope="col">Merchant</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*<input type="checkbox" asp-for="@item.selected" />*@
                        @*<div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="chkdt1" checked="">
                                <label class="custom-control-label" for="customCheck1"></label>
                            </div>*@
                    </td>
                    <td>@item.ListingName</td>
                    <td>@item.Merchant.RegistrationName</td>
                    <td>@item.ListingType</td>
                    <td>@item.PublishStatus.Status</td>
                    <td><button onclick="publishListing('@item.ListingId')">Publish</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Publish")">
    <div id="publish-detail"></div>
</div>

@section SpecificScripts{
    <script type="text/javascript">



        function publishListing(ListingId) {

            swal({
                title: 'Do you want to publish this listing?',
                icon: 'question',
                type: 'input',
                inputPlaceholder: "Duration in months. Default to 12",
                buttons: true,
                dangerMode: true,
            }, function (inputValue) {
                    if (!inputValue) { inputValue = 12;}
                    $.ajax({
                        //TODO add [ValidateAntiForgeryToken]
                        url: "/Listing/Publish",
                        data: {
                            "id": ListingId,
                            "months": inputValue,
                        },
                        type: "POST",
                        success: (function ({ item1, item2 }) {
                            if (item1 == 1) {
                                sweetAlert({
                                    title: "Pending Approval",
                                    text: "Listing is sent to approval.",
                                    type: "success"
                                },
                                    function () {
                                        window.location.href = '/listing';
                                    });
                            } else {
                                swal(
                                "Oops",
                                item2,
                                "error"
                            );
                            }

                        }),
                        error: (function (data) {
                            swal("Oops", "An unknown error occured! Please contact technical support.", "error");
                        })
                    });
            })
        }




    </script>
}
