@model IEnumerable<JomMalaysia.Presentation.Models.Workflows.WorkflowModel>
@{
    Layout = null;
}

<h3>Workflows</h3>

<div class="col-md-12 col-sm-12 no-padding" style="overflow-x:auto !important">
    <table class="table table-hover">
        <thead class="table-primary">
        <tr>
            <th scope="col"></th>
            <th scope="col">Listing Name</th>
            <th scope="col">Requester</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Created on</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<input type="checkbox" asp-for="@item.selected" />*@
                    @*<div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="chkdt1" checked="">
                                <label class="custom-control-label" for="customCheck1"></label>
                            </div>*@
                </td>
                <td>
                    <a asp-controller="Listing" asp-action="Details" asp-route-id="@item.Listing.ListingId"> @item.Listing.ListingName</a>
                </td>
                <td>@item.Requester.Username</td>
                <td>@item.Type</td>
                <td>@item.Status</td>
                <td>
                    @item.Created.ToString("dd/MM/yyyy HH:mm") (@(DateTime.Now.Subtract(item.Created).Days)
                    @(DateTime.Now.Subtract(item.Created).Days > 1 ? "days" : "day") ago)
                </td>
                <td>
                    <button data-toggle="modal" data-target="#WorkflowDetail"
                            data-id="@item.WorkflowId"
                            type="button" id="btnLink"
                            class="btn  @(item.IsCompleted() ? "btn-info" : "btn-primary")" )>
                        @(item.IsCompleted() ? "View" : "Respond")
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>