@model IEnumerable<JomMalaysia.Presentation.Models.Categories.Category>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Category List";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<form id="categoryForm" method="POST">
    <div class="col-md-12 col-sm-12 no-padding" style="overflow-x:auto !important">
        <table id="tableData" class="table table-hover">
            <!--remain id as this, else change name in _LayoutIndex too-->
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:3%"></th>
                    <th scope="col">@Html.DisplayNameFor(c => c.CategoryCode)</th>
                    <th scope="col">@Html.DisplayNameFor(c => c.CategoryName)</th>
                    <th scope="col">@Html.DisplayNameFor(c => c.CategoryNameMs)</th>
                    <th scope="col">@Html.DisplayNameFor(c => c.CategoryNameZh)</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 0; }

                @foreach (var item in Model)
                {

                    <tr style="cursor:pointer;" data-toggle="collapse" data-target="collapse-next-subcategory">
                        <td>
                            @if (item.LstSubCategory.Count > 0)
                            {
                                <a class="col-md-2 btnSubcategory">
                                    <span>
                                        <i class="fa fa-angle-down big-icon"></i>
                                    </span>
                                    <span style="display:none">
                                        <i class="fa fa-angle-up big-icon"></i>
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a class="col-md-2 btnAddSubcategory" style="cursor:pointer;" data-toggle="collapse" data-target="collapse-next-subcategory">
                                    <span>
                                        <i class="fa fa-plus big-icon"></i>
                                    </span>
                                    <span style="display:none">
                                        <i class="fa fa-angle-up big-icon"></i>
                                    </span>
                                </a>
                            }
                        </td>
                        <td><span class="badge badge-dark">@(item.LstSubCategory.Count)</span>&nbsp; @item.CategoryCode</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CategoryNameMs</td>
                        <td>@item.CategoryNameZh</td>
                        <td>
                            <a href="@Url.Action("Create", "Category", new { CategoryId = item.CategoryId })"
                               class="btn btn-success col-md-3 offset-md-1"
                               onclick="event.stopPropagation();">
                                <span>
                                    <i class="fa fa-plus"></i>
                                </span>
                            </a>

                            <a href="@Url.Action("Edit", "Category", new { CategoryId = item.CategoryId })"
                               class="btn btn-info col-md-3"
                               onclick="event.stopPropagation();">
                                <span>
                                    <i class="fa fa-edit"></i>
                                </span>
                            </a>

                            <a href="#" onclick="deleteCategory('@item.CategoryId', '@item.CategoryName')"
                               id="btnDelete" class="btn btn-danger col-md-3 offset-md-1 deleteButton">
                                <span>
                                    <i class="fa fa-trash"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    @if (item.LstSubCategory.Count > 0)
                    {
                        <tr class="subcategory-bg subcategory collapse">
                            <td colspan="6" class="no-padding">
                                <!--TODO KJ - link to create subcategory controller !! THIS ONE IS FOR THE SITUATION WHERE SUBCATEGORY HAS BEEN CREATED BEFORE !! -->
                                @*<a href="@Url.Action("Create", "Category", new { CategoryId = item.CategoryId })" class="btn btn-outline-info col-md-1 margin-topbottom-15 margin-leftright-15">
                                        <span>
                                            New
                                        </span>
                                    </a>*@
                                <br />
                                <table id="subtabledata" class="table table-hover">
                                    <thead class="subcategory-header-bg">
                                        <tr>
                                            <th scope="col" style="width:3%">&nbsp;</th>
                                            <th scope="col">@Html.DisplayNameFor(c => c.CategoryCode)</th>
                                            <th scope="col">@Html.DisplayNameFor(c => c.CategoryName)</th>
                                            <th scope="col">@Html.DisplayNameFor(c => c.CategoryNameMs)</th>
                                            <th scope="col">@Html.DisplayNameFor(c => c.CategoryNameZh)</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var count1 = 0; }

                                        @foreach (var subitem in item.LstSubCategory)
                                        {

                                            <tr>
                                                <td>
                                                    @*<a href="" id="btnSubcategory" class="col-md-2">
                                                            <span>
                                                                <i class="fa fa-angle-down big-icon-transparent"></i>
                                                            </span>
                                                        </a>*@
                                                </td>
                                                <td>@subitem.CategoryCode</td>
                                                <td>@subitem.CategoryName</td>
                                                <td>@subitem.CategoryNameMs</td>
                                                <td>@subitem.CategoryNameZh</td>
                                                <td>
                                                    <!--TODO KJ - link to edit subcategory controller -- get subcategory id using subitem.CategoryId -->
                                                    <a href="@Url.Action("Edit", "Category", new { CategoryId = item.CategoryId })" class="btn btn-outline-info col-md-4">
                                                        <span>
                                                            <i class="fa fa-edit"></i>
                                                        </span>
                                                    </a>
                                                    <!--TODO KJ - link to delete subcategory controller -- get subcategory id using subitem.CategoryId -->
                                                    <a href="#" onclick="deleteCategory('@item.CategoryId', '@item.CategoryName')" id="btnDelete" class="btn btn-outline-danger col-md-4 offset-md-1 deleteButton">
                                                        <span>
                                                            <i class="fa fa-trash"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>

                                            count1 += 1;
                                        }

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="subcategory-bg subcategory collapse">
                            <td colspan="6" class="no-padding">
                                <!--TODO KJ - link to create subcategory controller -- get subcategory id using subitem.CategoryId !! THIS IS FOR CREATING FIRST SUBCATEGORY !!-->
                                <a href="@Url.Action("Create", "Category", new { CategoryId = item.CategoryId })" class="btn btn-outline-info col-md-1 margin-topbottom-15 margin-leftright-15">
                                    <span>
                                        New
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }

                    count += 1;
                }

            </tbody>
        </table>
    </div>
</form>

<!--Other Commmon Scripts are in _LayoutIndex.cshtml-->

@section SpecificScripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $('#categoryForm').on('click.collapse-next-subcategory.data-api', '[data-target=collapse-next-subcategory]', function () {
                debugger;
                //var $target = $(this).parent().parent().closest('tr').next('tr').toggle();
                $(this).closest('tr').next('tr').toggle();
            });

            $(".deleteButton").click(function (event) {
                debugger;
                event.stopPropagation()
            })

            //TODO KJ - create one more for delete subcategory
            function deleteCategory(catId, catName) {
              
                swal({
                    title: "Are you sure?",
                    text: "Are you sure that you want to delete " + catName + "?",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    confirmButtonText: "Yes",
                    confirmButtonColor: "#ec6c62"
                },
                    function () {
                        $.ajax({
                            //TODO add [ValidateAntiForgeryToken]
                            url: "/Category/ConfirmDelete/",
                            data: {
                                "CategoryId": catId
                            },
                            type: "POST",
                            success: (function (data) {
                                if (data == 1) {
                                    sweetAlert({
                                        title: "Deleted",
                                        text: catName + " has been deleted successfully!",
                                        type: "success"
                                    },
                                        function () {
                                            window.location.href = '/category';
                                        });
                                }
                                else if (data == -2) {
                                    swal("Oops", "Subcategory has been created for this category. Please remove subcategory first.", "error");
                                }
                                else if (data == -3) {
                                    swal("Oops", "This category might have been deleted. Please refresh the page.", "error");
                                }
                                else {
                                    swal("Oops", "An unknown error occured! Please contact technical support.", "error");
                                }
                            }), error: (function (data) {
                                swal("Oops", "An unknown error occured! Please contact technical support.", "error");
                            })
                        })
                    });
            }
        });
    </script>
}
