@model JomMalaysia.Presentation.ViewModels.Merchants.RegisterMerchantViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Register New Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--HEADER-->

<div class="form-group col-md-12 no-padding d-none d-md-block">
    <button type="button" class="btn btn-success col-md-2" onclick="create()">Save</button>
    <button type="button" class="btn btn-danger col-md-2" onclick="window.history.go(-1); return false;">Cancel</button>
</div>
<!--Mobile Buttons-->
<div class="form-group col-md-12 no-padding d-sm-block d-md-none">
    <div class="btn-group col-sm-12 no-padding" role="group">
        <button type="button" class="btn btn-primary">Action</button>
        <div id="dropdown-action-button" class="dropdown-menu col-sm-12" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="display:none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" onclick="$('#btnSubmit').click()">Save</a>
            <a class="dropdown-item" onclick="window.history.go(-1); return false;">Cancel</a>
        </div>
        <div id="action-button" class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        </div>
    </div>
</div>
<!--END OF HEADER-->

<form asp-controller="Merchant" asp-action="Create" id="FormCreate" class="form-m-gap-top" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.SsmId)</div>
        <div class="col-sm-10 col-md-2">
            <input type="number" asp-for="SsmId" class="form-control only-number-no-arrow"/>
            <span asp-validation-for="SsmId" class="text-danger"></span>
        </div>

        <div class="col-sm-2 col-md-2 col-form-label">@Html.DisplayNameFor(m => m.OldSsmId)</div>
        <div class="col-sm-10 col-md-2">
            <input asp-for="OldSsmId" class="form-control"/>
            <span asp-validation-for="OldSsmId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2 col-md-3 col-form-label">@Html.DisplayNameFor(m => m.CompanyRegistrationName)</div>
        <div class="col-sm-10 col-md-6">
            <input asp-for="CompanyRegistrationName" class="form-control"/>
            <span asp-validation-for="CompanyRegistrationName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.Add1)</div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Address.Add1, new {@class = "form-control add_field", placeholder = "Address Line 1"})
            @Html.ValidationMessageFor(m => m.Address.Add1)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.Add2)</div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Address.Add2, new {@class = "form-control add_field", placeholder = "Address Line 2"})
            @Html.ValidationMessageFor(m => m.Address.Add2)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.City)</div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Address.City, new {@class = "form-control add_field", placeholder = "City"})
            @Html.ValidationMessageFor(m => m.Address.City)
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.Address.PostalCode, new {@class = "form-control add_field", placeholder = "Postal Code"})
            @Html.ValidationMessageFor(m => m.Address.PostalCode)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">@Html.DisplayNameFor(m => m.Address.State)</div>
        <div class="col-md-3">
            <select asp-for="Address.State" asp-items="Model.Address.StateList.Item1" class="form-control add_field"></select>
            <span asp-validation-for="Address.State" class="text-danger"></span>

        </div>
        <div class="col-md-3">
            <select asp-for="Address.Country" asp-items="Model.Address.CountryList" class="form-control add_field"></select>
            <span asp-validation-for="Address.Country" class="text-danger"></span>
        </div>
    </div>
    <h5>
        @Html.DisplayNameFor(m => m.Contacts)
    </h5>
     <div class="form-group row">
            <div class="col-md-3">@Html.DisplayNameFor(m => m.Contacts[0].Name)</div>
            <div class="col-sm-10 col-md-6">
                <input asp-for="Contacts[0].Name" class="form-control"/>
                <span asp-validation-for="Contacts[0].Name" class="text-danger"></span>
            </div>
        </div>
    <div class="form-group row">
        <div class="col-md-3">@Html.DisplayNameFor(m => m.Contacts[0].Email)</div>
        <div class="col-sm-10 col-md-6">
            <input asp-for="Contacts[0].Email" class="form-control"/>
            <span asp-validation-for="Contacts[0].Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">@Html.DisplayNameFor(m => m.Contacts[0].Phone)</div>
        <div class="col-sm-10 col-md-6">
            <input asp-for="Contacts[0].Phone" class="form-control"/>
            <span asp-validation-for="Contacts[0].Phone" class="text-danger"></span>
        </div>
    </div>
   

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script src="~/js/Listings/ModalFunctionScripts.js"></script>

    <script type="text/javascript">
    function create() {
        setLoading(true);
        let form = $("#FormCreate");
        let data = form.serialize();

        if (form.valid()) {
            $.ajax({
                //TODO add [ValidateAntiForgeryToken]
                url: "/Merchant/Create/",
                data: data,
                type: "POST",
                success: function ({ item1, item2 }) {
                    if (item1 === 1) {
                        sweetAlert(
                            {
                                title: "Merchant Registered",
                                text: "The merchant is registered successfully.",
                                type: "success"
                            },
                            function () {
                                window.location.href = "/merchant";
                            }
                        );
                    } else {
                        setLoading(false);
                        swal(
                            "Oops",
                            item2,
                            "error"
                        );
                    }
                },
                error: function (xhr, err) {
                    setLoading(false);
                    swal(
                        "Oops",
                        "An unknown error occured! Please contact technical support.",
                        "error"
                    );
                }
            });
        }
    }

</script>
}