@model JomMalaysia.Presentation.ViewModels.Merchants.RegisterMerchantViewModel

<!--modal-->
@{
    ViewData["Title"] = "Edit Merchant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--HEADER-->
<div class="form-group col-md-12 no-padding d-none d-md-block">
    <button type="submit" form="FormCreate" class="btn btn-success col-md-2 submitButton" id="btnMerchantSubmit">Save</button>
    <button type="button" class="btn btn-danger col-md-2 cancelButton" onclick="window.history.go(-1); return false;">Back</button>
</div>

<!--Mobile Buttons-->
<div class="form-group col-md-12 no-padding d-sm-block d-md-none">
    <div class="btn-group col-sm-12 no-padding" role="group">
        <button type="button" class="btn btn-primary">Action</button>
        <div id="dropdown-action-button" class="dropdown-menu col-sm-12" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="display:none; position: absolute; transform: translate3d(0px, 35px, 0px); top: 0; left: 0; will-change: transform;">

            <a class="dropdown-item" onclick="window.history.go(-1); return false;">Back</a>
        </div>
        <div id="action-button" class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        </div>
    </div>
</div>
<!--END OF HEADER-->

<form asp-controller="Merchant" asp-action="Edit" id="FormCreate"
      class="form-m-gap-top" method="post">
    <input type="hidden" asp-for="@Model.MerchantId" value="@Model.MerchantId"/>
    <input type="hidden" asp-for="@Model.Listings" value="@Model.Listings"/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.EditorFor(x=>x);
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script src="~/js/Listings/ModalFunctionScripts.js"></script>

    <script type="text/javascript">
    $("#FormCreate").submit(function (e) {
              e.preventDefault();
        setLoading(true);
        let data = $(this).serialize();
        let token = $('input[name="__RequestVerificationToken"]').val();
        if ($(this).valid()) {
            $.ajax({
                url: "/Merchant/Edit/",
                data: data,
                type: "POST",
                headers: {
                    'RequestVerificationToken': token
                },
                success: function ({ item1, item2 }) {
                    if (item1 === 1) {
                        sweetAlert(
                            {
                                title: "Merchant Updated",
                                text: "Merchant Info Updated Successfully.",
                                type: "success"
                            },
                            function () {
                                window.location.href = "/merchant";
                            }
                        );
                    } else {
                        setLoading(false);
                        swal(
                            "Oops",
                            item2,
                            "error"
                        );
                    }
                },
                error: function (xhr, err) {
                    setLoading(false);
                    swal(
                        "Oops",
                        "An unknown error occured! Please contact technical support.",
                        "error"
                    );
                }
            });
        }
    });

</script>
}