@model IEnumerable<JomMalaysia.Presentation.Models.Merchants.Merchant>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<form id="studentForm" method="POST">
    <div class="col-md-12 col-sm-12 no-padding" style="overflow-x:auto !important">
        <table id="tableData" class="table table-hover">
            <thead class="table-primary">
            <tr>

                <th scope="col">SSM ID</th>
                <th scope="col">Company Name</th>
                <th scope="col">Company Address</th>
                <th scope="col">Own</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item?.CompanyRegistration?.SsmId <br/>
                        @(item?.CompanyRegistration?.OldSsmId != null ? $"({item.CompanyRegistration?.OldSsmId})" : "")
                    </td>
                    <td>@item?.CompanyRegistration?.RegistrationName</td>
                    <td>@item.Address.ToString()</td>
                <td>
                   @if (item.Listings.Count > 0)
                   {
                       <a asp-controller="Listing" asp-action="GetByMerchant" asp-route-id="@item.MerchantId" )></a>
                       @item.Listings.Count
                   }
                   else
                   {
                       <a asp-controller="Listing" asp-action="GetByMerchant" asp-route-id="@item.MerchantId"
                          disabled)></a>@item.Listings.Count
                   }
                      </td>  
                    <td>@item.Contacts[0].ToString()</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a  href="#" class="btn btn-primary form-control" data-toggle="modal"
                               data-target="#modal-merchant-detail" data-id="@item.MerchantId">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </a>
                            <a  class="btn btn-info form-control" asp-controller="Merchant" 
                               asp-action="Edit" asp-route-MerchantId="@item.MerchantId">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                            <a  href="#" class="btn btn-danger form-control"
                               onclick="deleteMerchant('@item.MerchantId','@item?.CompanyRegistration?.RegistrationName')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>

@* Detail Modal *@
<div class="modal" id="modal-merchant-detail">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Merchant Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                loading..
            </div>
            @* <div class="modal-footer"> *@
            @*     <button type="button" class="btn btn-primary" onclick="saveAddress()" id="btnSaveAddress">Apply</button> *@
            @*     <button type="button" class="btn btn-secondary" onclick="" data-dismiss="modal">Close</button> *@
            @* </div> *@
        </div>
    </div>
</div>

@section SpecificScripts{
    <script type="text/javascript">
 //delete merchant
     function deleteMerchant(MerchantId, MerchantName) {
                let token = $('input[name="__RequestVerificationToken"]').val();
                    swal({
                        title: 'Delete merchant',
                        type: "warning",
                        text: "Are you sure that you want to delete " + MerchantName + "?  Operation is not irreversible",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#ec6c62",
                        dangerMode: true,
                    },  
                    function () {
                            $.ajax({
                                url: "/Merchant/ConfirmDelete",
                                data: {
                                    "id": MerchantId,
                                },
                                headers: {'RequestVerificationToken': token},
                                type: "POST",
                                success: (function ({ item1, item2 }) {
                                    if (item1 === 1) {
                                        sweetAlert({
                                            title: "Operation Success",
                                            text: "MerchantName is deleted successfully",
                                            type: "success"
                                        },
                                            function () {
                                                window.location.href = '/merchant';
                                            });
                                    } else {
                                        swal(
                                        "Oops",
                                        item2,
                                        "error"
                                    );
                                    }
        
                                }),
                                error: (function (data) {
                                    debugger
                                    swal("Oops", "Error code: "+ data.status +". Please contact technical support.", "error");
                                })
                            })
                    })
                }
    
    $(function () {
                $('#modal-merchant-detail').on('show.bs.modal', function (e) {
                    let id = e.relatedTarget.dataset.id;
                    let $modal = $(this);
    
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '/Merchant/Detail/' + id,
                        success: function (data) {
                            $modal.find('.modal-body').html(data);
                        },
                        fail: function (error) {
                            $modal.hide();
                            swal("Oops",error,"error");
                        }
                    });
                });
            });
            $(function () {
                $('#modal-merchant-detail').on('hidden.bs.modal', function () {
                   
                    $(this).find('.modal-body').empty();
                });
            });
    </script>
}