@model JomMalaysia.Presentation.Models.Common.Address

<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #listingMap {
        height: 400px;
        width: 500px;
        margin:0 auto;
      }
</style>

<div class="form-group row">
    <div id="listingMap"></div>
</div>
<div class="form-group row">
   <div class="col-md-3">@Html.DisplayNameFor(m => m.Add1)</div>
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Add1, new {@class = "form-control add_field", placeholder = "Address Line 1"})
        @Html.ValidationMessageFor(m => m.Add1)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.Add2)</div>
    <div class="col-md-9">
        @Html.TextBoxFor(m => m.Add2, new {@class = "form-control add_field", placeholder = "Address Line 2"})
        @Html.ValidationMessageFor(m => m.Add2)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.City)</div>
    <div class="col-md-5">
        @Html.TextBoxFor(m => m.City, new {@class = "form-control add_field", placeholder = "City"})
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.PostalCode, new {@class = "form-control add_field", placeholder = "Postal Code"})
        @Html.ValidationMessageFor(m => m.PostalCode)
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.State)</div>
    <div class="col-md-5">
        <select asp-for="State" asp-items="Model.StateList" class="form-control add_field"></select>
        <span asp-validation-for="State" class="text-danger"></span>

    </div>
    <div class="col-md-4">
        <select asp-for="Country" asp-items="Model.CountryList" class="form-control add_field"></select>
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.Coordinates)</div>
    <div class="col-md-4">
        <input type="text" asp-for="Coordinates.Latitude" class="form-control" placeholder="Latitude"/>
        <span asp-validation-for="Coordinates.Latitude" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <input type="text" asp-for="Coordinates.Longitude" class="form-control" placeholder="Longitude"/>
        <span asp-validation-for="Coordinates.Longitude" class="text-danger"></span>
    </div>
</div>
