@model JomMalaysia.Presentation.Models.Listings.OfficialContact

<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.Email)</div>
    <div class="col-md-9">
        <input asp-for="Email" class="form-control contact_field" placeholder="hello@email.com"/>
        <span asp-validation-for="Email"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.Website)</div>
    <div class="col-md-9">
        <input asp-for="Website" class="form-control contact_field" placeholder="Official Website / Facebook"/>
        <span asp-validation-for="Website"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.MobileNumber)</div>
    <div class="col-md-9">
        <input asp-for="MobileNumber" class="form-control contact_field" placeholder="Phone (601267938478)"/>
        <span asp-validation-for="MobileNumber"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.OfficeNumber)</div>
    <div class="col-md-9">
        <input asp-for="OfficeNumber" class="form-control contact_field" placeholder="Office (601267938478)"/>
        <span asp-validation-for="OfficeNumber"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-3">@Html.DisplayNameFor(m => m.Fax)</div>
    <div class="col-md-9">
        <input asp-for="Fax" class="form-control contact_field" placeholder="Fax (60312345678)"/>
        <span asp-validation-for="Fax"></span>
    </div>
</div>